body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul#menu li {
  display:inline;
}

form.form-articles input, form.form-articles textarea {
  width: 500px;
}

textarea {
  border-radius: 5px;
}