<%- include('../partials/header') %>
<%- include('../partials/navigation') %>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1><%= title %></h1>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, fuga optio consequuntur dolor deleniti
                    suscipit, omnis officia culpa nostrum quas unde obcaecati provident quos assumenda. Harum, quam
                    voluptas delectus tempore accusantium ex. Nobis, quis. Magnam et nam omnis asperiores veritatis
                    dolores natus officia facere aspernatur nobis! Voluptate hic quis quam magnam expedita inventore,
                    odit tempore impedit earum rerum cumque dolor sit accusantium assumenda, ad mollitia commodi?
                    Consequatur quia excepturi voluptatem. Sit debitis saepe ducimus illum nemo architecto consectetur
                    veritatis ad, cumque libero ullam at nihil quibusdam nesciunt aliquid nulla reprehenderit molestiae.
                    Tempora facere quia quam, necessitatibus, ullam nostrum ab officia, itaque cum iste quis praesentium
                    libero maxime. Quia nostrum, temporibus adipisci voluptas vel dicta placeat architecto odio facilis
                    sequi amet sint, ex earum tenetur eos, ipsum harum cupiditate voluptates debitis. Nesciunt fugit
                    repellat quia mollitia, nobis magnam tempore nihil deleniti distinctio inventore. In obcaecati
                    quisquam est impedit inventore consequuntur excepturi, tenetur eaque mollitia unde voluptas
                    assumenda, ab repellendus nihil voluptatibus deserunt perferendis veniam beatae nesciunt quis?
                    Delectus tempora incidunt, deserunt inventore corrupti quos itaque, sapiente sunt et nostrum
                    obcaecati? Facere nobis soluta, enim, autem quas ad repellendus quo fugit architecto, nihil id nam.
                    Repellendus est, maiores consectetur saepe iure debitis.</p>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>