<!DOCTYPE html>
<html>
  <head>
    <title>Detail Article</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Detail Articles</h1>
    <hr>
    <p>Title: <%= data.title %> </p>
    <p>Author: <%= data.author %> </p>
    <p>Description: <%= data.description %> </p>
    <p>Date: <%= data.published_date %> </p>
    <br>

    <a href="/articles">Kembali</a>
</body>
</html>