<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('../partials/navigation') %>
    
    <h1>Contact Page</h1>
</body>
</html>