<!DOCTYPE html>
<html>
  <head>
    <title>Create Client</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/navigation') %>

    <h1>Create Clients</h1>
  </body>
</html>
